* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title {
  /* background-color: rgba(165, 252, 165, 0.744); */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-section {
  display: flex;
  align-items: center;
}

.etk-logo {
  width: 60px;
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.etk-text {
  font-size: 1.5rem;
  font-family: cooper;
  margin: 0 3rem 0 0;
  color: rgba(198, 8, 8, 0.926);
  display: flex;
  align-items: center;
}

.nav-links{
  list-style: none;
  display: flex;
}

.nav-links li a {
  text-decoration: none;
  color: #8b0000;
  font-size: 1.2rem;
  font-weight: 550;
  font-family: book antiqua;
  text-align: center;
  padding: 1.2rem 2rem;
  transition: all 0.5s ease-in;
  position: relative;
}

.nav-links li a:hover {
  background-color: #f78a93;
  color: #8b0000;
}

.login-btn{
  margin-left: auto;
}

.signup-btn{
  margin: 1rem 1rem 1rem 0.5rem;
}

.login-btn, .signup-btn {
  border-radius: 5px;
  padding: 0.5rem 1.5rem;
  background-color: rgba(198, 8, 8, 0.926);
  color: white;
  font-weight: 600;
  font-family: book antiqua;
  text-decoration: none;
  transition: background-color 0.1s ease;
}

.login-btn:hover, .signup-btn:hover {
  background-color: rgba(176, 6, 6, 0.926);
}